.DeviceDashboard {
}

#changeOwnerModal .modal-body input {
  padding: 5px;
  width: 100%;
}
// Show pencil icon when hovering on owner field
.DevicesDashboard__table .owner {
  cursor: default;
  .show-on-hover {
    display: none;
    float: right;
  }
}
.DevicesDashboard__table .owner .show-on-hover {
  display: none;
  float: right;
}
.DevicesDashboard__table .owner:hover .show-on-hover {
  display: inline;
}
